footer {
    background-color: #597BC0;
    color: #fff;
    padding: 40px 20px 20px 20px;
    display: flex;
    font-weight: bold;
    align-items: center;
    overflow: hidden;
}

.max-icon {
    width: 60px;
    height: 60px;
}

.vk-icon {
    width: 60px;
    height: 60px;
}

.mail-icon {
    width: 64px;
    height: 64px;
}

.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    footer {
        padding: 6vw 3vw 3vw 3vw;
    }

    .max-icon, .mail-icon, .vk-icon {
        height: 8vw;
        width: 8vw;
    }

    .info {
        font-size: 3vw;
    }
}
