footer {
    background-color: #597BC0;
    color: #fff;
    padding: 30px 75px;
    display: flex;
    font-weight: bold;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
}


/* Иконки социальных сетей */
.icons {
    margin-left: auto;
    display: flex;
    max-height: 60px;
    gap: 10px;
}

.max-icon, .vk-icon, .mail-icon {
    width: 60px;
    height: 60px;
}


/* Телефоны и почта */
.info a {
    text-decoration: none;
    color: #fff;
}


/* Для телефона */
@media (max-width: 768px) {
    footer {
        padding: 5vw;
    }


    /* Иконки социальных сетей */
    .icons {
        max-height: 8vw;
    }

    .max-icon, .mail-icon, .vk-icon {
        height: clamp(20px, 8vw, 60px);
        width: clamp(20px, 8vw, 60px);
    }


    /* Телефоны и почта */
    .info {
        font-size: clamp(9px, 3vw, 18px);
    }
}
