/* !!! Общие стили, могут привести к конфликтам с другими компонентами !!! */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
}

main {
    margin: 50px 75px;
    height: 1000px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    overflow: hidden;
}

@media (max-width: 768px) {
    main {
        margin: 50px;
        height: 500px;
    }
}