body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
}

header {
    background-image: url("../images/blue_background.jpg"); 
    background-size: cover;
    border-radius: 0 0 30px 30px;
    color: white;
    padding: 20px 80px;
    display: flex;
    align-items: center;
}

main {
    margin: 50px 75px;
    height: 1000px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    overflow: hidden;
}



/* Лого школы и название */
.school-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.school-info p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.school-logo-img img {
    width: 250px;
}



/* Кнопка для слабовидящих */
.special {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.special a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 10px;
}

.special p {
    font-weight: bold;
}

#glazd {
    width: 50px;
}



/* Для планшета */
@media (min-width: 768px) and (max-width: 1280px) {
    
}



/* Для телефона */
@media (max-width: 768px) {
    header {
        overflow: hidden;
        padding: 20px 0;
    }

    main {
        margin: 50px;
        height: 500px;
    }



    /* Лого школы и название */

    .school-logo-img img {
        width: clamp(100px, 40vw, 250px);
    }
    
    .school-info p {
        max-width: 360px;
        font-size: clamp(9px, 3vw, 18px);
    }



    /* Кнопка для слабовидящих */
    .special {
        display: none;
    }



    /* Кнопка "бургер" */
    .menu-toggle {
        display: block;
        padding: 10px;
    }

    .menu-toggle-div {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: clamp(60px, 16vw, 100px);
        height: clamp(60px, 16vw, 100px);
    }
}
