@media (max-width: 1560px) {
    nav {
        transform: scale(0.95);
    }
}

@media (max-width: 1480px) {
    nav {
        transform: scale(0.90);
    }
}

@media (max-width: 1400px) {
    nav {
        transform: scale(0.85);
    }
}

@media (max-width: 1330px) {
    nav {
        transform: scale(0.80);
    }
}