/* CSS переменные для цветов */
.about-the-school {
    --main-color: #FF7672;
    --icon-color: #FF544F;
}

.parents {
    --main-color: #FFA433;
    --icon-color: #FF8000;
}

.students {
    --main-color: #D48EBB;
    --icon-color: #C972AA;
}

.teachers {
    --main-color: #EB7C7D;
    --icon-color: #FF544F;
}

.safety-and-health {
    --main-color: #FFA433;
    --icon-color: #FF8000;
}

.additional-education {
    --main-color: #D48EBB;
    --icon-color: #C972AA;
}


/* Базовые стили */
nav {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 25px;

    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

nav p {
    margin: 0;
}

.menu-item {
    font-family: Inter, sans-serif;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

    width: 100%;
    justify-content: center;
}

.menu-item > li {
    position: relative;
    flex-shrink: 1;
    min-width: 0;
}

.menu-toggle, .mobile-menu-header {
    display: none;
}


/* Общие стили для пунктов меню */
.menu-item > li {
    position: relative;
    flex-shrink: 0; /* разрешаем сжатие */
    min-width: auto;   /* позволяет flex-элементу уйти ниже content size */
}

.menu-item > li > a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 22.5px;
    color: white;
    text-decoration: none;
    border-radius: 22px;
    background: var(--main-color);
}

.menu-item > li > a p {
    font-size: clamp(11px, 1.1vw, 18px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}


/* Стили для иконок */
.icon-wrapper {
    width: clamp(30px, 3vw, 45px);
    height: clamp(30px, 3vw, 45px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--icon-color);
}

.icon-wrapper img {
    width: clamp(20px, 1.6vw, 25px);
    height: clamp(20px, 1.6vw, 25px);
}


/* Border для каждой категории */
.columns-border {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--main-color);
}


/* Двухколоночное меню */
.columns-wrapper {
    position: absolute;
}

.menu-item > li:last-child .columns-wrapper {
    left: auto;
    right: 0;
    transform: none;
}

.columns {
    position: relative;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: clamp(12px, 1.5vw, 25px) clamp(10px, 1.5vw, 20px);

    animation: 0.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-item > li.open .columns {
    display: flex;
    gap: 30px;
}

.columns ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    flex: 1;
    min-width: clamp(160px, 15vw, 255px);
}


/* Стрелка */
.arrow {
    margin-left: auto;
    display: inline-flex;
    transition: transform 0.3s ease;
}

.arrow svg {
    width: 12px;
    height: 12px;
    stroke: #999;
    transition: stroke 0.3s;
}

.columns ul li.open > a .arrow {
    transform: rotate(180deg);
}


/* Вложенные подменю */
.columns ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: clamp(11px, 1vw, 14px);
    margin: 5px 0;
}

.columns ul li a:hover {
    color: var(--main-color);
}

.columns ul li ul {
    opacity: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease, opacity 0.5s ease;
    padding-left: 15px;
}

.columns ul li.open > ul {
    opacity: 1;
    grid-template-rows: 1fr;
}

.columns ul li ul > * {
    overflow: hidden;
}

.columns ul li ul div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columns ul li ul li a {
    font-size: clamp(10px, 0.9vw, 13px);
    color: #666;
    white-space: pre-wrap;
}